examples/mqtt-publish-flow.json
[
    {
        "id": "myskoda-cred-1",
        "type": "myskoda-credentials",
        "name": "MySkoda Account"
    },
    {
        "id": "mqtt-cred-1",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "sessionExpiry": ""
    },
    {
        "id": "flow-1",
        "type": "tab",
        "label": "MySkoda MQTT Publish",
        "disabled": false,
        "info": "Publishes Enyaq charging data to MQTT every 10 minutes",
        "env": []
    },
    {
        "id": "inject-start",
        "type": "inject",
        "z": "flow-1",
        "name": "Start",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [["myskoda-get-enyaq"]]
    },
    {
        "id": "myskoda-get-enyaq",
        "type": "myskoda-get",
        "z": "flow-1",
        "name": "Get Enyaq Data",
        "account": "myskoda-cred-1",
        "queryParking": false,
        "queryClimater": false,
        "queryCharger": true,
        "queryMaintenance": true,
        "x": 300,
        "y": 100,
        "wires": [["extract-charging-data"]]
    },
    {
        "id": "extract-charging-data",
        "type": "function",
        "z": "flow-1",
        "name": "Extract & Format",
        "func": "// Extract charging data from payload\nconst vehicle = msg.payload.vehicles && msg.payload.vehicles[0] ? msg.payload.vehicles[0] : {};\n\n// Helper to recursively find a value in nested object\nfunction findValue(obj, key) {\n    if (!obj || typeof obj !== 'object') return null;\n    if (key in obj) return obj[key];\n    for (const k in obj) {\n        const found = findValue(obj[k], key);\n        if (found !== null) return found;\n    }\n    return null;\n}\n\n// Helper to get value by dot-notation path\nfunction getValueByPath(obj, path) {\n    if (!obj || typeof obj !== 'object') return null;\n    const keys = path.split('.');\n    let current = obj;\n    for (const key of keys) {\n        if (current == null || typeof current !== 'object') return null;\n        current = current[key];\n    }\n    return current;\n}\n\n// Find all values recursively in the vehicle object\nconst soc = findValue(vehicle, 'stateOfChargeInPercent') || 0;\nconst power = findValue(vehicle, 'chargePowerInKw') || 0;\nconst chargedAt = findValue(vehicle, 'fullyChargedAt') || null;\nconst range = findValue(vehicle, 'totalRangeInKm') || 0;\nconst targetSoc = findValue(vehicle, 'targetStateOfChargeInPercent') || 0;\nconst remainingTime = findValue(vehicle, 'remainingTimeToFullyChargedInMinutes') || 0;\nconst capacity = findValue(vehicle, 'capacityInKWh') || 0;\nconst doorsLocked = findValue(vehicle, 'doorsLocked') || false;\nconst locked = findValue(vehicle, 'locked') || false;\nconst windows = findValue(vehicle, 'windows') || null;\nconst sunroof = findValue(vehicle, 'sunroof') || null;\nconst trunk = findValue(vehicle, 'trunk') || null;\nconst mileage = findValue(vehicle, 'mileageInKm') || 0;\nconst batteryState = getValueByPath(vehicle, 'charging.status.state') || null;\n\nconst data = {\n    stateOfChargeInPercent: soc,\n    chargePowerInKw: power,\n    fullyChargedAt: chargedAt,\n    totalRangeInKm: range,\n    targetStateOfChargeInPercent: targetSoc,\n    remainingTimeToFullyChargedInMinutes: remainingTime,\n    capacityInKWh: capacity,\n    doorsLocked: doorsLocked,\n    locked: locked,\n    windows: windows,\n    sunroof: sunroof,\n    trunk: trunk,\n    mileageInKm: mileage,\n    batteryState: batteryState\n};\n\n// Create separate messages for each MQTT topic\nconst messages = [];\n\nfor (const [key, value] of Object.entries(data)) {\n    messages.push({\n        topic: `stat/myskoda/${key}`,\n        payload: value,\n        qos: 0,\n        retain: true\n    });\n}\n\n// Add the charge power for delay calculation\nmessages.push({\n    payload: power,\n    topic: \"\"\n});\n\nreturn messages;",
        "outputs": 15,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["mqtt-out-1"], ["set-delay"]]
    },
    {
        "id": "mqtt-out-1",
        "type": "mqtt out",
        "z": "flow-1",
        "name": "MQTT Publish",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "auto",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-cred-1",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "set-delay",
        "type": "function",
        "z": "flow-1",
        "name": "Set Delay",
        "func": "// Set delay based on charging status\nconst power = msg.payload || 0;\n// 30 seconds if charging, 5 minutes if not\nconst delayMs = power > 0 ? 30000 : 300000;\nmsg.delay = delayMs;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [["delay-loop"]]
    },
    {
        "id": "delay-loop",
        "type": "delay",
        "z": "flow-1",
        "name": "Dynamic Delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 140,
        "wires": [["myskoda-get-enyaq"]]
    }
]
